* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.editor-panel {
  background: var(--panel);
  color: white;
  padding: 18px;
  position: relative;
  overflow: hidden;
}
.title-editable {
  font-size: 1.4rem;
  font-weight: 600;
  outline: none;
}
.checklist-item {
  background: transparent;
  border: none;
  border-bottom: 1px;
  color: #fff;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
.checklist-item:focus {
  outline: none;
  border-bottom: 1px solid #0d6efd;
}
.toolbar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border-radius: 20px;
  padding: 8px 15px;
  display: flex;
  gap: 15px;
  font-size: 1.2rem;
}
.toolbar button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #000;
}
.toolbar button:hover {
  color: #0d6efd;
}
.card-custom {
  color: #fff;
  border-radius: 20px;
}
h5[contenteditable="true"] {
  outline: none;
  cursor: text;
}
