body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #111;
  color: #fff;
}
.container {
  width: 350px;
  height: 500px;
  background: #111;
  border: 1px solid #444;
  padding: 20px;
  position: relative;
}
.editor-panel {
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.topbar {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  font-size: 20px;
}
.topbar i {
  cursor: pointer;
}
input[type="text"] {
  background: transparent !important;
  color: #fff !important;
  border: none !important;
  box-shadow: none !important;
}

.title-input {
  margin-top: 40px;
  font-size: 26px;
  font-weight: 600;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  width: 100%;
  min-height: 30px;
}

.title-input:empty::before {
  content: "Title";
  color: #777;
}

.todo-item {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.todo-item div[contenteditable="true"] {
  flex: 1;
  background: transparent;
  color: white;
  outline: none;
}

.todo-item div[contenteditable="true"]:empty::before {
  content: "Your list...";
  color: #777;
}

.title-input::placeholder {
  color: #888;
}
.tittle-input:focus {
  border-bottom: 1px solid #888;
}

.todo-list {
  margin-top: 30px;
}
.todo-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}
.todo-item input[type="checkbox"] {
  width: 18px;
  height: 18px;
}
.todo-item input[type="text"] {
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: white;
  flex: 1;
}
.todo-item input[type="text"]::placeholder {
  color: #777;
}
.toolbar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  color: black;
  padding: 8px 12px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
}

.editor:focus {
  outline: none;
}
.toolbar button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
  padding: 4px 6px;
}
.toolbar button:hover {
  color: #555;
}
.link-btn {
  background: white;
  border-radius: 50%;
  padding: 6px;
  font-size: 14px;
}
.add-btn {
  margin-top: 20px;
  font-size: 14px;
  background: transparent;
  border: 1px dashed #555;
  color: #bbb;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}
.add-btn:hover {
  border-color: #999;
  color: white;
}
