body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f4f6;
}
.dashboard {
  min-height: 100vh;
  background: url("../pct/dashboard.png") center/cover no-repeat;
  padding: 40px;
  color: white;
  z-index: 1;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}
.folder {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  background: #000;
  border-left: 1px solid #ddd;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  overflow-y: auto;
  border-top-right-radius: 50px;
  z-index: 100;
}
.folder h3 {
  margin-top: 50px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  border-bottom: 1px solid #1e1e1e;
  padding-bottom: 8px;
  font-weight: bold;
}
.button-folder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-folder {
  background-color: #f5f5f5;
  color: #1e1e1e;
  font-weight: 900;
  padding: 10px 20px;
  border: none;
  border-radius: 6px; /* biar agak rounded */
  cursor: pointer;
  transition: 0.3s;
  margin-top: 70cap;
}
