* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.container {
  background-color: #fff;
  color: #000;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
}
/* Header utama */
.header {
  display: flex;
  justify-content: space-between; /* kiri & kanan */
  align-items: center; /* vertikal sejajar */
  padding: 12px 20px;
  background: #fff;
}

/* Bagian kiri (plus + profile) */
.header-left {
  display: flex;
  align-items: center;
  gap: 10px; /* jarak antar icon */
}

/* Bagian kanan (lonceng) */
.header-right {
  display: flex;
  align-items: center;
}

.fa-bell {
  font-size: 25px;
  color: #000;
  cursor: pointer;
}
.fa-square-plus {
  font-size: 25px;
  cursor: pointer;
  color: #000;
}

/* Avatar */
.profile-image {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #eee;
  margin-top: 3px;
}

/* Bagian kanan header (lonceng) */
.header-right {
  display: flex;
  align-items: center;
}

.top-bar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.icon-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.fa-note-sticky {
  width: 40px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
.avatar {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.greeting h2 {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  display: flex;
}

.search-bar {
  display: flex;
  align-items: center;
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid #ccc;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  color: #ccc;
}

.search-bar button {
  background-color: #000;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.menu-icons {
  display: flex;
  justify-content: center;
  gap: 0;
}

.icon-box {
  margin-top: 30px;
  color: #fff;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 25px;
  background-color: #000;
  width: 115px;
  height: 115px;
}

.section-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.card-custom {
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  padding: 15px;
}
.list-group-item {
  background: transparent;
  color: #fff;
  border: none;
  padding-left: 0;
}
.card-custom:hover {
  transform: scale(1.02);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.avatars-wrapper {
  padding-left: 6px;
  padding-right: 6px;
}

.avatar-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #fff; /* biar ada border putih antar avatar */
  margin-left: -8px; /* overlap efek */
}

.avatar-img:first-child {
  margin-left: 0; /* avatar pertama gak ketiban */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.popup {
  background: #111;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  gap: 15px;
}
.popup button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  background: #fff;
}
